<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Holiday Lighting Designer</string>
	<key>CFBundleExecutable</key>
	<string>holiday-lighting-designer</string>
	<key>CFBundleIdentifier</key>
	<string>world.woohouse.holiday-lighting-designer</string>
	<key>CFBundleName</key>
	<string>Holiday Lighting Designer</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Connect to Home Assistant to inspect and control your lights.</string>
</dict>
</plist>
